<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShareExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SharedExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E646AAB71EE01E3500E464A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E646AAD01EE01E3500E464A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E646AADB1EE01E3500E464A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E646AAF11EE0220600E464A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E694E2BC1EE17B40003059FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
